body{
    font-family: sans-serif;
    font-size: 1.6rem;
}

.lightblue{
    color:lightblue;
}


.navlink{
    cursor: pointer;
}



.navbar,
.carousel{
    border-bottom: 5px solid lightblue;
}

.slider-image{
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.card-image{
    height: 500px;
    background-position: center;
    background-size: cover;
}

.accordion{
    color: white;
}

.accordion-black{
    background: black;
    color: white;
}

