body{
    font-family: sans-serif;
    font-size: 1.6rem;
}

.lightblue{
    color:lightblue;
}


.navlink{
    cursor: pointer;
}


.navbar,
.carousel{
    border-bottom: 1px solid lightblue;
}

.slider-image{
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
}